.container {
  padding: 10px 0 0 10px;
}

.wrapper {
  padding: 10px 50px 50px 50px;
  display: flex;
}

.topButton {
  width: 120px;
  padding: 15px;
  border: 2px solid teal;
  background-color: white;
  cursor: pointer;
  font-weight: 500;
}

.topButton:hover {
  background-color: #f8f4f4;
}

.imgContainer {
  flex: 1;
}

.image {
  width: 70vh;
  height: 100%;
  object-fit: cover;
}

.infoContainer {
  flex: 1;
  padding: 0px 50px;
}

.title {
  font-weight: 200;
}

.desc {
  margin: 20px 0px;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.price {
  font-weight: 100;
  font-size: 40px;
}

.filterContainer {
  width: 70%;
  margin: 50px 0px;
  display: flex;
  justify-content: space-between;
}

.filter {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.filterTitle {
  margin-right: 10px;
  font-size: 20px;
  font-weight: 200;
}

.filterColor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid darkgrey;
}

.filterColorActive {
  transform: scale(1.3);
}

.filterSize {
  padding: 5px;
}

.addContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.amountContainer {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.amount {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid teal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.button {
  width: 120px;
  padding: 15px;
  border: 2px solid teal;
  background-color: white;
  cursor: pointer;
  font-weight: 500;
}

.button:hover {
  background-color: #f8f4f4;
}
