.blockScroll {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 300px;
  max-height: 600px;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.mainContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.summaryTitle {
  margin-bottom: 20px;
  font-weight: 200;
}

.textarea {
  width: 70vw;
  height: 50vh;
  margin-bottom: 10px;
  padding: 12px 20px;
  font-size: 24px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.button {
  width: 250px;
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
