.form {
  display: flex;
  align-items: center;
}

.searchContainer {
  display: flex;
  align-items: center;
  border: 0.5px solid lightgray;
  margin-left: 25px;
  padding: 5px;
}

.input {
  border: none;
}

*:focus {
  outline: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.search {
  color: grey;
  font-size: 16px;
}
